@font-face {
    font-family: 'national-extrabold';
    src: url(/font/GothamBold.ttf);
}
@font-face {
    font-family: 'national-bold';
    src: url(/font/GothamBold.ttf);
}


.national {
    font-family: 'national-extrabold';
}
.national-bold {
    font-family: 'national-bold';
}
.beach-back {
    padding-top: 3em;
}
.bg-red {
    background: #FF0000;
    min-height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #fff;
}
.titulo-kfc {
    padding-top: 1.9em;
}
 @media (max-width:800px) {
 .titulo-kfc {
    text-align: center;
 }
 }
.como-participar {
    min-height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.v-line{
    border-left: thick solid #fff;
    height:12%;
    left: 50%;
    position: absolute;
} @media (max-width:767px) {
    .v-line {
        display: none;
    }
}
.fechas-importantes {
    min-height: 350px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;

    padding: 3em 0;

    background: rgb(0,0,0);
    background: -moz-linear-gradient(94deg, rgba(0,0,0,1) 47%, rgba(73,73,73,1) 100%);
    background: -webkit-linear-gradient(94deg, rgba(0,0,0,1) 47%, rgba(73,73,73,1) 100%);
    background: linear-gradient(94deg, rgba(0,0,0,1) 47%, rgba(73,73,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#494949",GradientType=1);

    text-align: center;
}
.fechas {
    min-height: 250px;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;
} @media (max-width:768px) {
    .fechas {
        flex-direction: column;
        padding: 2em 0;
    }
    .dia {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}
.dia {
    height: auto;
    width: 50%;
}

.premios {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: 4em;
}
.primer {
    background-color: aqua;
}
.premios .contenido {
    margin-top: 2em;
    color: #fff;
}
.uno {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background: rgb(149,0,50);
background: -moz-linear-gradient(94deg, rgba(149,0,50,1) 47%, rgba(220,3,71,1) 100%);
background: -webkit-linear-gradient(94deg, rgba(149,0,50,1) 47%, rgba(220,3,71,1) 100%);
background: linear-gradient(94deg, rgba(149,0,50,1) 47%, rgba(220,3,71,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#950032",endColorstr="#dc0347",GradientType=1);
}

@media (max-width:991px) {
    .orden-1 {
        order: 0;
    }
    .orden-2 {
        order: 1;
    }
}
.dos {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background: rgb(255,188,1);
background: -moz-linear-gradient(94deg, rgba(255,188,1,1) 47%, rgba(132,132,132,1) 100%);
background: -webkit-linear-gradient(94deg, rgba(255,188,1,1) 47%, rgba(132,132,132,1) 100%);
background: linear-gradient(94deg, rgba(255,188,1,1) 47%, rgba(132,132,132,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbc01",endColorstr="#848484",GradientType=1);
}
.tres {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background: rgb(127,127,127);
background: -moz-linear-gradient(94deg, rgba(127,127,127,1) 22%, rgba(0,136,214,1) 100%);
background: -webkit-linear-gradient(94deg, rgba(127,127,127,1) 22%, rgba(0,136,214,1) 100%);
background: linear-gradient(94deg, rgba(127,127,127,1) 22%, rgba(0,136,214,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f7f7f",endColorstr="#0088d6",GradientType=1);
}
.cuatro {
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background: rgb(7,149,7);
background: -moz-linear-gradient(94deg, rgba(7,149,7,1) 50%, rgba(18,32,18,1) 100%);
background: -webkit-linear-gradient(94deg, rgba(7,149,7,1) 50%, rgba(18,32,18,1) 100%);
background: linear-gradient(94deg, rgba(7,149,7,1) 50%, rgba(18,32,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#079507",endColorstr="#122012",GradientType=1);
}


.redes {
    min-height: 400px;
    color: #FF0000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2em 2em;
}
.restricciones-power {
    background: #FF0000;
    color: #fff;

    padding: 2em 0;
}
